@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
.Switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 35px;
  border: black 1px solid;
  border-radius: 3px;
  padding: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 6px 3px;

  /* background: red; */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-family: 'ShadowsIntoLight';
  color: white;
  font-weight: 600;
  padding-right: 11px;
}

.slider:before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: 'BETALEND';
  font-weight: 600;
  font-size: 12px;
  font-family: 'ShadowsIntoLight';
  color: white;
  height: 35px;
  width: 60px;
  bottom: 4px;
  background: green;
  transition: 0.4s;
  opacity: 1;
}
.slider:after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 60;
  right: 0;
  bottom: 0;
  content: 'GRATIS';
  font-family: 'ShadowsIntoLight';
  font-size: 12px;
  font-weight: 600;
  color: white;
  height: 35px;
  width: 60px;
  bottom: 4px;
  background: white;
  transition: 0.2s;
  border-radius: 3px;
}

input:checked + .slider:after {
  transform: translateX(-60px);
}

input:checked + .slider:before {
  opacity: 1;
}

input:checked + .Fft__titleright {
  opacity: 0.2;
}
